@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: Butler;
    src: url(Fonts/Butler_ExtraBold.otf);
}
@font-face {
    font-family: Aileron-Black;
    src: url(Fonts/Aileron-Black.ttf);
}
@font-face {
    font-family: Aileron-Bold;
    src: url(Fonts/Aileron-Bold.ttf);
}
@font-face {
    font-family: Aileron-Regular;
    src: url(Fonts/Aileron-Regular.ttf);
}
@font-face {
    font-family: Aileron-Heavy;
    src: url(Fonts/Aileron-Heavy.ttf);
}
body{
	background-color: #000000;
}

/*Index*/

#Title{
	opacity:0;
	cursor: pointer;
	text-align: center;
	color:black;
	font-family: Aileron-Black;
	font-size: 10vh;
	animation: Start 3s 0.5s cubic-bezier(.84,0,.53,.99) forwards;
	text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
	line-height: 0px;
	margin-top:20vh;
}

#linea{
	margin-top:-5vh;
	line-height: 0px;
	height:0.005vh;
	background-color:white;
	color:white;
	opacity:0;
	animation: Linea 1s 1s cubic-bezier(.67,.21,.4,.88) forwards;
}

.allDiv{
	opacity:0;
	position:absolute;
	left:-5px;
	width:100%;
	height:100px;
	display:block;
	transition:1s;
}

.allP{
	cursor:pointer;
	position: absolute;
	font-size: 60px;
	margin-left: 20px;
	transition:0.3s;
	font-family: Aileron-Bold;
	top:-47px;
}

.allClose{
	cursor:pointer;
	opacity:0;
	font-family: Aileron-Bold;
	font-size: 60px;
	position: absolute;
	right: 20px;
	top:-44px;
	transition: 0.3s;
}

.b{
	color:black;
}

.w{
	color:white;
}

#Traveldiv{
	background-color:#0D0D0D;
	top:300px;
	animation: Categories 1s 3.4s forwards cubic-bezier(.17,.67,.52,.94);
}

#Designdiv{
	background-color:#434343;
	top:400px;
	animation: Categories 1s 3.1s forwards cubic-bezier(.17,.67,.52,.94);
}

#Musicdiv{
	background-color:#8F8F8F;
	top:500px;
	animation: Categories 1s 2.8s forwards cubic-bezier(.17,.67,.52,.94);
}

#Filmdiv{
	background-color:#B7B7B7;
	top:600px;
	animation: Categories 1s 2.5s forwards cubic-bezier(.17,.67,.52,.94);
}

#Travelp:hover{
	color:#B6B6B6;
}

#Designp:hover{
	color:#B6B6B6;
}

#Musicp:hover{
	color:#515151;
}

#Filmp:hover{
	color:#515151;
}

#Close:hover{
	color:#B6B6B6;
}

#Close1:hover{
	color:#B6B6B6;
}

#Close2:hover{
	color:#515151;
}

#Close3:hover{
	color:#515151;
}

@keyframes Start {
	0% {opacity: 0;margin-top:50vh}
	40% {opacity:1;margin-top:50vh}
	100% {opacity:1;margin-top:20vh}
}
@keyframes Linea {
	0% {opacity:1;width:0px;}
	100% {opacity:1;width:80vh;}
}
@keyframes Span {
	from {opacity:0;}
	to {opacity:1;}
}
@keyframes Categories {
	from {left:-200vh;opacity:1}
	to {Left:0px;opacity:1}
}