@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: Butler;
    src: url(Fonts/Butler_ExtraBold.otf);
}
@font-face {
    font-family: Aileron-Black;
    src: url(Fonts/Aileron-Black.ttf);
}
@font-face {
    font-family: Aileron-Bold;
    src: url(Fonts/Aileron-Bold.ttf);
}
@font-face {
    font-family: Aileron-Regular;
    src: url(Fonts/Aileron-Regular.ttf);
}
@font-face {
    font-family: Aileron-Heavy;
    src: url(Fonts/Aileron-Heavy.ttf);
}
body{
	background-color: #000000;
}

/*Index*/

#Title{
	opacity:0;
	cursor: pointer;
	text-align: center;
	color:black;
	font-family: Aileron-Black;
	font-size: 10vh;
	animation: Start 2.5s 0.5s forwards;
	text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
	line-height: 0px;
	margin-top:20vh;
}

#linea{
	margin-top:-5vh;
	line-height: 0px;
	height:0.005vh;
	background-color:white;
	color:white;
	opacity:0;
	animation: Linea 1s 1s ease forwards;
}

#Traveldiv{
	opacity:0;
	position:absolute;
	background-color:#0D0D0D;
	top:300px;
	left:-5px;
	width:100%;
	height:100px;
	transition: 0.5s;
	animation: Categories 1s 1.2s forwards cubic-bezier(.17,.67,.52,.94);
	display:block;
}

#Travelp{
	cursor:pointer;
	color:white;
	position: absolute;
	top:-44px;
	font-family: Aileron-Bold;
	font-size: 60px;
	margin-left: 20px;
	transition:0.3s;
}

#Close{
	cursor:pointer;
	opacity:0;
	font-family: Aileron-Bold;
	color: white;
	font-size: 60px;
	position: absolute;
	right: 20px;
	top:-44px;
	transition: 0.3s;
}

#Travelp:hover{
	color:#B6B6B6;
}

#Close:hover{
	color:#B6B6B6;
}

#Designdiv{
	opacity:0;
	position:absolute;
	background-color:#434343;
	top:400px;
	left:-5px;
	width:100%;
	height:100px;
	animation: Categories 1s 1.5s forwards cubic-bezier(.17,.67,.52,.94);
	display:block;
	transition:0.5s;
}

#Designp{
	cursor:pointer;
	color:white;
	position: absolute;
	top:-47px;
	font-family: Aileron-Bold;
	font-size: 60px;;
	margin-left: 20px;
	transition:0.3s;
}

#Close1{
	cursor:pointer;
	opacity:0;
	font-family: Aileron-Bold;
	color: white;
	font-size: 60px;
	position: absolute;
	right: 20px;
	top:-44px;
	transition: 0.3s;
}

#Designp:hover{
	color:#B6B6B6;
}

#Close1:hover{
	color:#B6B6B6;
}

#Musicdiv{
	opacity:0;
	position:absolute;
	background-color:#8F8F8F;
	top:500px;
	left:-5px;
	width:100%;
	height:100px;
	animation: Categories 1s 1.8s forwards cubic-bezier(.17,.67,.52,.94);
	display:block;
	transition: 0.5s;
}

#Musicp{
	cursor:pointer;
	color:black;
	position: absolute;
	top:-47px;
	font-family: Aileron-Bold;
	font-size: 60px;;
	margin-left: 20px;
	transition:0.3s;
}

#Close2{
	cursor:pointer;
	opacity:0;
	font-family: Aileron-Bold;
	color: black;
	font-size: 60px;
	position: absolute;
	right: 20px;
	top:-44px;
	transition: 0.3s;
}


#Musicp:hover{
	color:#515151;
}

#Close2:hover{
	color:#515151;
}

#Filmdiv{
	opacity:0;
	position:absolute;
	background-color:#B7B7B7;
	top:600px;
	left:-5px;
	width:100%;
	height:100px;
	animation: Categories 1s 2.1s forwards cubic-bezier(.17,.67,.52,.94);
	display:block;
	transition: 0.5s;
}

#Filmp{
	cursor:pointer;
	color:black;
	position: absolute;
	top:-47px;
	font-family: Aileron-Bold;
	font-size: 60px;;
	margin-left: 20px;
	transition:0.3s;
}

#Close3{
	cursor:pointer;
	opacity:0;
	font-family: Aileron-Bold;
	color: black;
	font-size: 60px;
	position: absolute;
	right: 20px;
	top:-44px;
	transition: 0.3s;
}


#Filmp:hover{
	color:#515151;
}

#Close3:hover{
	color:#515151;
}


.Travel{
	background-color:black;
}

.Span{
	font-family: Aileron-Heavy;
	transform: rotate(270deg);
	transform-origin: left top 0;
	z-index: 0.9;
	opacity:0;
	font-size:45px;
	position: absolute;
	color:white;
	top:200px;
	right:-120px;
	margin: 20px;
	animation-name: Span 0.5s 2.5s forwards;
	transition:0.3s;
}
.Span:hover{
	cursor:pointer;
	color:#8D8D8D;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 50px;
    color: #414141;
    display: block;
    transition: 0.3s;
}

.Normal{
	font-family: Aileron-Bold;
}

.Normal:hover {
    color: black;
}

#X:hover{
	color:black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-right .5s;
    padding: 16px;
}

@keyframes Start {
	0% {opacity: 0;}
	100% {opacity:1;}
}
@keyframes Linea {
	from {opacity:1;width:0px;}
	to {opacity:1;width:80vh;}
}
@keyframes Span {
	from {opacity:0;}
	to {opacity:1;}
}
@keyframes Categories {
	from {left:-200vh;opacity:1}
	to {Left:0px;opacity:1}
}