@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: Butler;
    src: url(Fonts/Butler_ExtraBold.otf);
}
@font-face {
    font-family: Aileron-Black;
    src: url(Fonts/Aileron-Black.ttf);
}
@font-face {
    font-family: Aileron-Bold;
    src: url(Fonts/Aileron-Bold.ttf);
}
@font-face {
    font-family: Aileron-Regular;
    src: url(Fonts/Aileron-Regular.ttf);
}
@font-face {
    font-family: Aileron-Heavy;
    src: url(Fonts/Aileron-Heavy.ttf);
}
body{
	background-color: #000000;
}

/*Spinner*/

.Scompari{
	animation:Scompari 1s forwards;
}

.spinner {
  position:absolute;
  left:50%;
  top:50%;
  width: 50px;
  height: 40px;
}

.spinner > div {
  background-color: white;
  height: 2vh;
  width: 100%;
  animation: Allunga 1.2s infinite ease-in-out;
}

.spinner .r2 {
  animation-delay: -1.1s;
}

.spinner .r3 {
  animation-delay: -1.0s;
}

.spinner .r4 {
  animation-delay: -0.9s;
}

.spinner .r5 {
  animation-delay: -0.8s;
}

@keyframes Allunga {
  0%, 40%, 100% { 
    transform: scaleX(0.4);
  }  20% { 
    transform: scaleX(1.0);
  }
}

@keyframes Scompari {
	from{opacity:1}
	to{opacity:0}
}

/*Index*/

#Title{
	opacity:0;
	cursor: pointer;
	text-align: center;
	color:black;
	font-family: Aileron-Black;
	font-size: 10vh;
	text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
	line-height: 0px;
	margin-top:20vh;
}

.Title{
	animation: Start 3s 0.5s cubic-bezier(.84,0,.53,.99) forwards;
}

#linea{
	margin-top:-5vh;
	line-height: 0px;
	height:0.005vh;
	background-color:white;
	color:white;
	opacity:0;
}

.Linea{
	animation: Linea 1s 1s cubic-bezier(.67,.21,.4,.88) forwards;
}

/*Menu*/

.allDiv{
	opacity:0;
	position:absolute;
	left:-5px;
	width:100%;
	height:100px;
	display:block;
	transition:1s;
}

.allP{
	cursor:pointer;
	position: absolute;
	font-size: 60px;
	margin-left: 20px;
	transition:0.3s;
	font-family: Aileron-Bold;
	top:-47px;
}

.allClose{
	cursor:pointer;
	opacity:0;
	font-family: Aileron-Bold;
	font-size: 40px;
	position: absolute;
	right: 20px;
	transition: 0.3s;
}

.b{
	color:black;
}

.w{
	color:white;
}

#Traveldiv{
	background-color:#0D0D0D;
	top:300px;
}

.Td{
	animation: Categories 1s 3.4s forwards cubic-bezier(.17,.67,.52,.94);
}

#Designdiv{
	background-color:#434343;
	top:400px;
}

.Dd{
	animation: Categories 1s 3.1s forwards cubic-bezier(.17,.67,.52,.94);
}

#Musicdiv{
	background-color:#8F8F8F;
	top:500px;
}

.Md{
	animation: Categories 1s 2.8s forwards cubic-bezier(.17,.67,.52,.94);
}

#Filmdiv{
	background-color:#B7B7B7;
	top:600px;
}

.Fd{
	animation: Categories 1s 2.5s forwards cubic-bezier(.17,.67,.52,.94);
}

#Travelp:hover{
	color:#B6B6B6;
}

#Designp:hover{
	color:#B6B6B6;
}

#Musicp:hover{
	color:#515151;
}

#Filmp:hover{
	color:#515151;
}

#Close:hover{
	color:#B6B6B6;
}

#Close1:hover{
	color:#B6B6B6;
}

#Close2:hover{
	color:#515151;
}

#Close3:hover{
	color:#515151;
}

/*Travel*/

.Selectworld{
	opacity:0;
	position:relative;
	margin-top:15vh;
	width:50vw;
	height:85vh;
	overflow: hidden;
	float:left;
 	display: inline-block;
	cursor: pointer;
	transition: 1s ease;
}

.Viaggio{
	opacity:0.8;
	position: absolute;
  	top: -9999px;
 	left: -9999px;
 	right: -9999px;
 	bottom: -9999px;
 	margin: auto;
	width: 50vw; 
	transition: 0.5s ease;
  	backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Selectworld:hover .Viaggio {
  opacity: 0.3;
}

.Selectworld:hover .middle {
  opacity: 1;
}

.Europe:hover .middle {
  opacity: 1;
}

.World:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 5vw;
}

/*Europe*/

.E{
	position: absolute;
  	top: -9999px;
 	left: -9999px;
 	right: -9999px;
 	bottom: -9999px;
 	margin: auto;
	height: 85vh; 
	transition: 0.5s ease;
  	backface-visibility: hidden;
}

.Europe{
	z-index: 0;
	opacity:0;
	position:absolute;
	margin-top:15vh;
	width:16.667vw;
	height:85vh;
	overflow: hidden;
	transition: 1s ease;
}

.Back{
	background-color:darkslategrey;
	left:0;
}

.Back:hover{
	cursor: pointer;
}

#Spain{
	left:16.667vw;
}

#Spain:hover{
	width:33.333vw;
	left:0vw;
}

#Italy{
	left:33.333vw;
}

#Italy:hover{
	left:16.667vw;
	width:33.333vw;
}

#Scotland{
	left:50vw;
}

#Scotland:hover{
	left:33.333vw;
	width:33.333vw;
}

#Czech{
	left:66.667vw;
}

#Czech:hover{
	left:50vw;
	width:33.333vw;
}

#England{
	left:83.333vw;
}

#England:hover{
	left:66.667vw;
	width:33.333vw;
}

/*World*/

.W{
	position: absolute;
  	top: -9999px;
 	left: -9999px;
 	right: -9999px;
 	bottom: -9999px;
 	margin: auto;
	height: 85vh; 
	transition: 0.5s ease;
  	backface-visibility: hidden;
}

.World{
	z-index: 0;
	opacity:0;
	position:absolute;
	margin-top:15vh;
	width:12.5vw;
	height:85vh;
	overflow: hidden;
	transition: 1s ease;
}

#Cina{
	left:12.5vw;
}

#Cina:hover{
	left:0vw;
	width:25vw;
}

#Ecuador{
	left:25vw;
}

#Ecuador:hover{
	left:12.5vw;
	width:25vw;
}

#Galapagos{
	left:37.5vw;
}

#Galapagos:hover{
	left:25vw;
	width:25vw;
}


#Egipt{
	left:50vw;
}

#Egipt:hover{
	left:37.5vw;
	width:25vw;
}

#California{
	left:62.5vw;
}

#California:hover{
	left:50vw;
	width:25vw;
}

#Giappone{
	left:75vw;
}

#Giappone:hover{
	left:62.5vw;
	width:25vw;
}

#NuovaZelanda{
	left:87.5vw;
}

#NuovaZelanda:hover{
	left:75vw;
	width:25vw;
}

/*Work*/

.Work{
	opacity:0.8;
	position: absolute;
  	top: -9999px;
 	left: -9999px;
 	right: -9999px;
 	bottom: -9999px;
 	margin: auto;
	width: 50vw; 
	transition: 0.5s ease;
  	backface-visibility: hidden;
}

.Selectwork{
	opacity:0;
	position:relative;
	margin-top:15vh;
	width:50vw;
	height:85vh;
	overflow: hidden;
	float:left;
 	display: inline-block;
	cursor: pointer;
	transition: 1s ease;
}

.Selectwork:hover .Work{
  opacity: 0.3;
}

.Selectwork:hover .middle {
  opacity: 1;
}

/*Animazioni*/

@keyframes Start {
	0% {opacity: 0;margin-top:50vh}
	40% {opacity:1;margin-top:50vh}
	100% {opacity:1;margin-top:20vh}
}
@keyframes Linea {
	0% {opacity:1;width:0px;}
	100% {opacity:1;width:80vh;}
}
@keyframes Span {
	from {opacity:0;}
	to {opacity:1;}
}
@keyframes Categories {
	from {left:-200vh;opacity:1}
	to {Left:0px;opacity:1}
}